<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script>
document.addEventListener("DOMContentLoaded", function () {
    alert(어서오세요);
});
</script>
<body>
    <!--<p th:text="'Hello, ' + ${name} + '!'">홍길동2</p> -->
    <form>
    <input type="email" name="" id="id" placeholder="이메일을 입력">
    <input type="password" name="" id="pwd" placeholder="비밀번호를 입력">
    <br>
    <button><a href="">Login</a></button>
    <button><a href="signup">signUp</a></button>
    </form>
</body>
</html>